* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 650px;
  width: 650px;
  background-color: gainsboro;
  border: 2px solid black;
  box-sizing: initial;
}

.myDiv {
  height: 62.5px;
  width: 62.5px;
  background-color: aquamarine;
  /* border: 0.05px solid black; */
}
